/* General QWidget Styles */
QWidget {
    font-family: ${fontStack_system};
    color: #abb2bf;
    background-color: #282c34;
}

/* Menu Bar */
QMenuBar {
    font-size: 14px;
    background-color: #21252b;
    color: #abb2bf;
}

QMenuBar::item {
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background-color: #3e4451;
    color: #dcdcdc;
}

/* Buttons */
QPushButton {
    background-color: #3e4451;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    padding: 6px 12px;
    color: #abb2bf;
}

QPushButton:hover {
    background-color: #4e4e4e;
}

/* Cards */
QWidget[class="card"] {
    background-color: #282c34;
    border: 1px solid #3e4451;
    border-radius: 8px;
    padding: 10px;
}

/* Tables */
QTableView {
    background-color: #282c34;
    color: #abb2bf;
    gridline-color: #3e4451;
    border: 1px solid #3e4451;
}
