/* General QWidget Styles */
QWidget {
    font-family: ${fontStack_system};
    color: #dcdcdc;
    background-color: #0d1117;
}

/* Menu Bar */
QMenuBar {
    font-size: 14px;
    background-color: #010409;
    color: #ffffff;
    padding: 12px;
}

QMenuBar::item {
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background-color: rgba(101, 108, 118, 0.2);
    color: #ffffff;
}

/* Buttons */
QPushButton {
    background-color: #3c3f41;
    border: 1px solid #4e4e4e;
    border-radius: 4px;
    padding: 6px 12px;
    color: #ffffff;
}

QPushButton:hover {
    background-color: #4e4e4e;
}


QFrame#Container{
    border: 1px solid #3d444d;
    border-radius: 8px;
    padding: 24px;
}


/* Cards */
QFrame#Card {
    border: 1px solid #3d444d;
    border-radius: 8px;
    padding: 10px;
    gap:100;
}

QFrame#Card QLabel#CardValueLabel {
    font-size: ${text_body_size_large};
    font-weight: ${text_title_weight_large};
}

QFrame#Card QLabel#CardLabel {
    padding-top: 10px;
    text-align: left;
    font-size: ${text_body_size_medium};
    color: rgb(145, 152, 161);
}


/* Tables */
QTableView {
    background-color: #2b2b2b;
    color: #dcdcdc;
    gridline-color: #4e4e4e;
    border: 1px solid #4e4e4e;
}

QLineEdit{
    height: 40px;
}